body {
font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

main {
    margin: 20px;
}

table, th, td {
    border: 1px dashed;
    border-collapse: collapse;
    border-color: grey;
    text-align: center;
    padding: 10px;
} 

th {
    color: #fff;
    background-color: rgb(44, 44, 44);
}

.table_div {
    margin: auto;
    width: 100%;
}

.about {
    margin: auto;
    width: 50%;
    text-align: center;
}